version: '3.8'

services:

  mysqldb:
    image:          mysql:8.0.30 
    command:        --default-authentication-plugin=mysql_native_password
    restart:        unless-stopped
    env_file:       ./.env
    environment:
      -             MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      -             MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      -             $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    volumes: 
      -             ./db/init:/docker-entrypoint-initdb.d 
      -             ./db/data:/var/lib/mysql
    networks:
      -              app-fullstack-net  

  spring-backend:
      depends_on:
        -             mysqldb
      build:          ./spring-agroecologia-iot
      restart:        on-failure
      ports:
        -             8080:8080
      environment:
        SPRING_APPLICATION_JSON: '{
          "spring.datasource.url"  : "jdbc:mysql://mysqldb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE?useSSL=false",
          "spring.datasource.username" : "$MYSQLDB_USER",
          "spring.datasource.password" : "$MYSQLDB_ROOT_PASSWORD",
          "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5Dialect",
          "logging.level.org.hibernate.sql" : "debug",
          "spring.datasource.driver-class-name": "com.mysql.cj.jdbc.Driver",
          "spring.jpa.hibernate.ddl-auto" : "update"}'
      volumes:
        -             ./spring-agroecologia-iot/logs:/app/logs
      networks:
      -               app-fullstack-net 
      stdin_open: true
      tty: true
  
  node-backend:
    image:                   abassi/nodejs-server:10.0-dev
    volumes:
      -                    ./node:/home/node/app/src
    networks:
      -                    app-fullstack-net
    depends_on:
      -                    mysqldb
    ports: 
      -                    "8000:3000"
    command:                 nodemon /home/node/app/src/index.js

networks:
    app-fullstack-net:
        driver:                  bridge